{% extends "base.html" %}

{% block title %}Home - Meal Planner{% endblock %}

{% block content %}
    <!-- <h1>Welcome to Meal Planner</h1> -->

    <div class="card" onclick="window.location.href='{% url 'submit_meal_preferences' %}';">
        <h2>🍽️ Meal Suggestions</h2>
        <p>Get personalized meal recommendations based on your preferences.</p>
    </div>

<br>

<div class="card" onclick="window.location.href='{% url 'fitness_dashboard' %}';">
    <h2> 🏃‍♂️ Enter Fitness Progress</h2>
    <p>Log your workout details and track your fitness journey effortlessly.</p>
</div>

<br>

<div class="card" onclick="window.location.href='{% url 'fitness_report_chart' %}';">
    <h2> 📊 Fitness Progress Report</h2>
    <p>Visualize your fitness progress with detailed reports and insights.  </p>
</div>

{% endblock %}
