

{% extends 'base.html' %}
 
{% block content %}
<div class="container">
<h2>Your Fitness Profile</h2>

     {% if fitness_profile %}
<p><strong>Phone Number:</strong> {{ fitness_profile.phone_number }}</p>
<p><strong>Age:</strong> {{ fitness_profile.age }}</p>
<p><strong>Height:</strong> {{ fitness_profile.height }} cm</p>
<p><strong>Weight:</strong> {{ fitness_profile.weight }} kg</p>
<p><strong>Dietary Preferences:</strong> {{ fitness_profile.dietary_preferences }}</p>
<p><strong>Fitness Goals:</strong> {{ fitness_profile.fitness_goals }}</p>
<a href="{% url 'update_fitness_profile' %}">Update Profile</a>

     {% else %}
<p>You don't have a fitness profile yet. <a href="{% url 'update_fitness_profile' %}">Create one now.</a></p>

     {% endif %}
</div>

 {% endblock %}