{% load i18n %}

{% block trans %}Hello, {{ user.username }}!{% endblock %}

<p>
    {% trans "We received a request to reset your password for your account at CU Fitness." %}
</p>

<p>
    {% trans "To reset your password, click the following link:" %}
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {% trans "Reset Password" %}
    </a>
</p>

<p>
    {% trans "If you did not request a password reset, please ignore this email." %}
</p>

<p>
    {% trans "Thanks," %}<br>
    {% trans "CU Fitness Support Team" %}
</p>
