{% load i18n %}

{% block trans %}Hello, {{ user.username }}!{% endblock %}

<p>
    We received a request to reset your password for your account at CU Fitness.
</p>

<p>
    To reset your password, click the following link:
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        Reset Password
    </a>
</p>

<p>
    If you did not request a password reset, please ignore this email.
</p>

<p>
    Thanks,<br>
    CU Fitness Support Team
</p>
